version: "3.2"

services:
  app:
    build:
      context: .
      target: development
    image: thetaapi:dev
    ports:
      - "3001:3000"
    volumes:
      - .:/app
      - modules_vol:/app/node_modules
    networks:
      - theta
    restart: unless-stopped
    links:
      - mongo
      - redis
    working_dir: /app

  mongo:
    image: mongo:5.0.3
    volumes:
       - mongo_vol:/theta/data/mongo
    ports:
      - "27017:27017"
    networks:
      - theta
    restart: unless-stopped

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_vol:/theta/data/redis
    networks:
      - theta

networks:
  theta:
    driver: bridge

volumes:
  modules_vol:
    driver: local
  mongo_vol:
    driver: local
  redis_vol:
    driver: local

